.filter {
  padding: 20px;
}

.filter-t-shirt {
  float: left;
  background: url("./TShirt.png");
  width: 500px;
  height: 500px;
  background-size: cover;
}
.demo canvas.filter-canvas {
  margin-left: 25%;
  margin-top: 30%;
  width: 50%;
  height: 50%;
  background-color: transparent;
}

.operation-area {
  float: left;
  margin-top: 30px;
  width: 300px;
  margin-left: 30px;
}

.image-list {
  width: 250px;
  margin-top: 50px;
}

.image-list-label {
  margin: 10px 0;
}

.image-list img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
}

.image-list img.selected {
  border: 1px solid #00aaea;
}

@media (max-width: 576px) {
  .filter-t-shirt {
    width: 80vw;
    height: 80vw;
  }
}
